body {
    background-color: #cabbd3;
    font-family: monospace;
    color: #000000;
    text-align: center;
}

button {
    justify-items: center;
    background-color: #7457a3;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2b173f;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: #795b92;
    padding: 15px;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.galeria img {
    width: 100%;
    border-radius: 5px;
}

/* Remova ou adicione estilos para table */
table {
    border-collapse: collapse;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

#quiz-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #5d3b7c;
    border-radius: 10px;
    width: 300px;
    background-color: #eae2eb;
}
